---
layout: default
title: Showcase
---

<div class="panel-parent">

    {% if site.showcase.size > 0 %}
    <!-- There are .md files in the collection -->
    <div class="row justify-content-md-center">
    {% for md_file in site.showcase %}
        <div class="panel col-3 text-center" style="width: 20rem">
            <h4><a class="gradient-text">{{md_file.title}}</a></h4>
            <h6><small>{{md_file.date | date_to_long_string: "ordinal", "US"}}</small></h6>
            <img class="rounded mx-auto d-block" src="{{site.baseurl}}/{{md_file.preview}}" style="width:95%" alt="Showcase picture">
            <p>{{md_file.description}}</p>
            {% assign content = md_file.content | strip_newlines %}
            {% if content != ""  %}
            <a type="button" class="btn btn-secondary" href="{{site.baseurl}}/{{md_file.url}}">More information</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    <br>
    <h6 class="text-center">Want to add more content? Put stuff in the <a class="gradient-text">_showcase</a> directory.</h6>
    {% else %}
    <!-- There are no .md files in the collection -->
    <div class="text-center">
        <h2><a class="gradient-text">Nothing to show</a></h2>
        <h6>Add stuff to the <a class="gradient-text">_showcase</a> directory to show up here</h6>
    </div>
    {% endif %}
</div>

