<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name='description' content="Techiesplash's personal site."/>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Global intent stylesheets or scripts go here -->
    <link href="{{ site.baseurl }}/assets/css/syntax.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% if site.catppuccin == "latte" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/catppuccin_latte.css">
    {% elsif  site.catppuccin == "frappe" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/catppuccin_frappe.css">
    {% elsif  site.catppuccin == "macciato" %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/catppuccin_macciato.css">
    {% else %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/catppuccin_mocha.css">
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

</head>
<body class="container">

<!-- Here's the header, this will appear at the top of the page. -->
<header class="panel-tight" style="">
    <nav class="navbar" style=" padding: 0">
        <div class="navbar-brand text-center" style="padding: 0; padding-bottom: 8px"> <!-- Center the content within the brand div -->
            <a class="mx-auto text-center" href="{{ site.baseurl }}/"> <!-- Center the content horizontally -->
              Home
               <!-- <h5 class="gradient-text">the popcorn kernel</h5> -->
            </a>
        </div>
        <div class="nav-item">
            <a class="btn btn-nav" href="{{ site.baseurl }}/tutorials.html" >Tutorials</a>
            <a class="btn btn-nav" href="{{ site.baseurl }}/showcase.html" >Showcase</a>
            <a class="btn btn-nav" href="{{ site.baseurl }}/social.html" >Social</a>
        </div>
    </nav>
</header>


{{ content }}

<footer class="footer">
    <!-- Put your footer stuff here. -->
    <div class="panel">
        <h1 class="construction-text"><a>UNDER CONSTRUCTION</a></h1>
        <h5>This website steals no cookies, you can keep them for yourself!</h5>
        <h6><small>This site uses Bootstrap 5 and the <a href="https://github.com/catppuccin/catppuccin">Catppuccin
            {% if site.catppuccin == "latte" %}
            Latte
            {% elsif  site.catppuccin == "frappe" %}
            Frappe
            {% elsif  site.catppuccin == "macciato" %}
            Macciato
            {% else %}
            Mocha
            {% endif %}
            color palette</a>, both under the terms of the MIT License.</small></h6>
    </div>
</footer>
</body>
</html>