---
layout: default
title: {{page.title}}
---
{% assign user_content = site.pages | where: "name", "user.md" | first %}

{% if page.author %}}
{% assign author = page.author %}
{% else %}
{% assign author = user_content.username %}
{% endif %}

<div class="panel-parent">
    <div class="text-center">
        <h2><a class="gradient-text">{{page.title}}</a></h2>
        <h6>{{page.description}}</h6>
        <img class="rounded mx-auto d-block" src="{{site.baseurl}}/{{page.preview}}" style="width:60%" alt="Showcase picture">
    </div>
    <div class="panel">
        <blockquote class="blockquote">
            <small>
                {{page.content | markdownify}}
            </small>
            <footer class="blockquote-footer">{{author}}</footer>
        </blockquote>
    </div>
</div>